<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Short URL App</a>
  </div>
</nav> <!-- Close NavBar -->

<div class="container">
  <br>
  <!-- Input Box -->
  <h4>Enter a URL</h4>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Paste URL Here">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">Submit</button>
    </div>
  </div> <!-- Close Input Box -->
  <br>
  <h4>Your short URL will be displayed here:</h4>
  <h5>{{ shortURL }}</h5>

</div>